<div class="container">

  <div class="row">

    <div class="col-md-14">

      <div class="hero-container">

        <div class="hero-content">

          <div class="hero-header">
            <img src="img/Brennan2.jpg" alt="A picture of me!" class="profile-picture" />
            
            {% if site.title != '' %}
              <h1>{{site.title}}</h1>
            {% endif %}
          </div>

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">
            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>GitHub</button></a>
            {% endif %}
            <a href="/Brennan_Benson_resume.pdf" download><button class="btn btn-default btn-lg"><i class="fa fa-download fa-lg"></i>Resume</button></a>
            <a href="https://www.linkedin.com/in/brennankbenson/" target="_blank">
              <button class="btn btn-default btn-lg">
                <i class="fa fa-linkedin fa-lg"></i>LinkedIn
              </button>
            </a>
            <a href="/projects">
              <button class="btn btn-default btn-lg"><i class="fa fa-folder-open fa-lg"></i>Projects</button>
            </a>
          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
