<div class="processing-demo">
    <script type="text/javascript" src="/processingGame/processing_try.js"></script></script>

    <div class="formBox">
        <canvas id="shooterGameEmbed" class="processingEmbed" 
                data-processing-sources="/processingGame/shooterGame.pde 
                                            /processingGame/BigEnemy.pde 
                                            /processingGame/BouncingEnemy.pde 
                                            /processingGame/BouncingEnemyBullet.pde 
                                            /processingGame/CircleEnemy.pde 
                                            /processingGame/CircleEnemyTurret.pde 
                                            /processingGame/ComplexEnemy.pde 
                                            /processingGame/ComplexEnemyBullet.pde 
                                            /processingGame/Enemy.pde 
                                            /processingGame/EnemyBullet.pde 
                                            /processingGame/GodKiana.pde 
                                            /processingGame/GodKianaBullet.pde 
                                            /processingGame/myBullet.pde 
                                            /processingGame/Player.pde 
                                            /processingGame/shooterGame.pde 
                                            /processingGame/StandardEnemy.pde 
                                            /processingGame/StandardEnemyBullet.pde 
                                            /processingGame/SpinningEnemy.pde 
                                            /processingGame/SpinningEnemyTurret.pde">
        </canvas>
    </div>
</div>